<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.textusurfa.camara.simaski.pruebatextusurfa">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main"
            android:screenOrientation="landscape"
            android:theme="@style/myTema">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"/>
        <activity android:name="twitter.WebViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/myTema"/>
        <activity android:name=".Configuracion"
            android:screenOrientation="landscape"
            android:theme="@style/myTema"/>
        <activity
            android:name=".MeEncantaOtro"
            android:screenOrientation="landscape"
            android:theme="@style/myTema"></activity>
        <activity
            android:name=".Siguiente"
            android:screenOrientation="landscape"
            android:theme="@style/myTema"></activity>
        <activity
            android:name=".Twittealo"
            android:screenOrientation="landscape"
            android:theme="@style/myTema"></activity>
        <activity
            android:name=".Etiquetar"
            android:screenOrientation="landscape"
            android:theme="@style/myTema"></activity>
    </application>

</manifest>